﻿@model IEnumerable<StudentManagementWebApp.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: black;
        text-decoration: none;
    }

    .button {
        background-color: orange;
        border: none;
        border-radius: 3px;
        padding: 2.5px 13px;
    }

    form {
        font-size: 16px;
    }
</style>

<h1 style="color: darkblue; text-align: center; margin: 30px 0px;">Students Management</h1>
<h3 style="color: mediumblue; margin: 20px 40px;">Search by</h3>
<div style="display: flex; justify-content: space-around;">
    <form asp-controller="Students" asp-action="SearchByName" method="get">
        <p>
            Name :  <input type="text" name="name" />
            <input type="submit" value="Search" class="button" />
        </p>
    </form>
    <form asp-controller="Students" asp-action="SearchByMajor" method="get">
        <p>
            Major :  <input type="text" name="major" />
            <input type="submit" value="Search" class="button" />
        </p>
    </form>
    <form asp-controller="Students" asp-action="SearchByType" method="get">
        <p>
            Type :  <input type="text" name="type" />
            <input type="submit" value="Search" class="button" />
        </p>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>
        <a asp-action="Create" style="text-decoration: none; font-size: 24px; color: blue">Create New</a>
    </p>
    <div style="float: right; margin-right: 40px;">
        <a asp-action="Index" style="text-decoration: none; font-size: 20px; color: blue">List all students</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Age", "Index", new { sortOrder = ViewBag.AgeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.ActionLink("Avg", "Index", new { sortOrder = ViewBag.AvgSortParm })
            </th>
            <th>
                @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionalYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Majors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                </td>
            </tr>
        }

    </tbody>
</table>

